<div>
  <p><strong>Result:</strong> <span [innerHTML]="result"></span></p>
</div>
<div style="display: flex; flex-direction: row; margin-top: 20px; gap: 20px;">
  <!-- Original JSON -->
  <div
    style="display: flex; flex-direction: column; background-color: rgb(240, 240, 240); padding-right: 20px; width: 45%;">
    <h3>Original JSON</h3>
    <div *ngFor="let key of keys; index as i">
      <p><strong>{{ key }}:</strong> {{values[i]}}
      </p>
    </div>
  </div>

  <!-- Updated JSON -->
  <div
    style="display: flex; flex-direction: column; background-color: rgb(215, 215, 215); padding-right: 20px; width: 45%;">
    <h3>Updated JSON</h3>
    <div *ngFor="let key of keys; index as i">
      <!-- If key is in changedKey, show the corresponding result -->
      <p *ngIf="changedKey.includes(key)">
        <strong>{{ key }}:</strong>
        <span [innerHTML]="totalResults[changedKey.indexOf(key)]"></span> <!-- Access the result for the current key -->
      </p>
      <!-- If key is not in changedKey, show the original value -->
      <p *ngIf="!changedKey.includes(key)">
        <strong>{{ key }}:</strong> {{ values[i] }}
      </p>
    </div>
  </div>
</div>


<h3>Differences:</h3>
<!-- <div *ngFor="let diff of differences">
    <div *ngIf="diff.kind === 'N'">
      <strong>Added:</strong> {{ diff.path }} = {{ diff.value }}
    </div>
    <div *ngIf="diff.kind === 'D'">
      <strong>Deleted:</strong> {{ diff.path }} = {{ diff.value }}
    </div>
    <div *ngIf="diff.kind === 'E'">
      <strong>Changed:</strong> {{ diff.path }} 
      <span style="color: red;">(Old: {{ diff.oldValue }}, New: {{ diff.newValue }})</span>
    </div>
  </div> -->